.index-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5%;
  width: 100%;
  margin: auto;
}
body {
  margin: 4rem;
}
img {
  max-width: 50vw;
  width: 100%;
}

.ia-head a {
  text-decoration: none;
  color: inherit;
}