/* google docs margins */
.halfpoint {
  padding-left: 23.5px;
}

.pointfive {
  padding-left: 47px;
}

.pointsevenfive {
  padding-left: 70.5px;
}

.one {
  margin-left: 93px;
}

.onepointtwofive {
  margin-left: 116.5px;
}

.onepointfive {
  margin-left: 140px;
}

.notquitetwo {
  margin-left: 165px;
}

.two {
  margin-left: 187px;
}

.twopointtwofive {
  margin-left: 209.5px;
}

.twopointfive {
  margin-left: 233px;
}

.twopointsevenfive {
  margin-left: 256.5px;
}

.three {
  margin-left: 280px;
}

.threepointfive {
  margin-left: 327px;
}

.four {
  margin-left: 373px;
}

.fourpointfive {
  margin-left: 420px;
}
.six {
  margin-left: 560px;
}

.minusfive {
  margin-left: -47px;
}

.minustwofive {
  margin-left: -233px;
}
