@import url("./indents.css");
@import url("./wiki/wiki.css");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fondamento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Felipa&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syncopate&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=VT323&display=swap");

@font-face {
  font-family: chicago;
  src: url("./static/fonts/ChicagoFLF.ttf");
}

:root {
  --sp-grey: #a9a2b0;
  --lynk-blue: blue;
  --lines: #000000;
}

.ptd-body {
  animation: breath 14s infinite;
}

#pause-breath {
  animation: breath 20s infinite;
}

#in-the-subsequent {
  animation: breath 27s infinite;
}

@keyframes breath {

  0%,
  25%,
  75% {
    opacity: 1;
  }

  45%,
  50% {
    opacity: 0;
  }
}

.blink {
  animation: blinker 1s step-start infinite;
}

@keyframes blinker {
  50% {
    color: transparent;
  }
}

.forever-lost span {
  animation-name: flash;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: step-start;
  animation-delay: calc(var(--animation-order) * 0.1s);
}

@keyframes flash {
  0% {
    opacity: 1;
  }

  10% {
    opacity: 0;
  }
}

body {
  margin: 20px 80px;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  /* min-width: 580px; */
  background-color: var(--sp-grey);
  /* background-image: url("../static/images/paper.gif"); */
  /* background-image: url("./images/paper.gif"); */
  /* background-color: #d8d8d8; */
  /* scrollbar-width: thin;
  scrollbar-color: rebeccapurple green; */
}

/* scroll bar stuff */
html::-webkit-scrollbar {
  width: 12px;
}

html::-webkit-scrollbar-thumb {
  background-color: #e4e4e4;
  outline: 1px dotted #000000;
  outline-offset: -3px;
  border: 1px solid black;

  /* box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey,
    inset 2px 2px #dfdfdf; */
}

html::-webkit-scrollbar-track {
  background: repeating-linear-gradient(52deg,
      #000000,
      #000000 1px,
      #c0c0c0 1px,
      #c0c0c0 3px);
  border-left: 1px solid black;
}

p,
ul {
  /* font-family: "EB Garamond", serif; */
  /* font-family: "Times New Roman", Times, serif; */
  font-size: 14px;
}

/* p::selection,
a::selection,
span::selection,
sup::selection,
em::selection {
  background-color: rgb(173, 173, 173);
} */

.poemTitle {
  padding-bottom: 20px;
}

.poem {
  padding: 30px;
}

strong {
  font-weight: bold;
}

sup {
  font-size: 10px;
}

h1 {
  font-family: "Roboto Mono", monospace;
}

h2 {
  font-family: "Roboto Mono", monospace;
}

.center {
  text-align: center;
}

.sppng {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 200px;
}

/* a {
  color: var(--lynk-blue);
}
a:visited {
  color: var(--lynk-blue);
} */

[data-wiki] {
  text-decoration: underline;
  cursor: pointer;
  color: var(--lynk-blue);
}

/* a:hover,
[data-wiki]:hover {
  cursor: pointer;
  color: hsl(0, 0%, 31%);
} */

.Ω {
  text-decoration: none;
}

.Ω:hover {
  color: hotpink;
}

.footnote p {
  font-size: 9pt;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0.4em;
}

span.footnote {
  font-size: 8pt;
}

.code {
  font-family: "Roboto Mono", monospace;
}

.Ω:hover {
  color: hotpink;
}

/* javascript things */

.move-arrow {
  writing-mode: vertical-lr;
  padding-left: 172pt;
}

#fancy {
  font-family: Felipa;
}

/* good font alternatives to colativo:  Calligraffitti, Charm, Bilbo Swash Caps, Fondamento, Felipa, Jim Nightshade, Lily Script One,  */

.forever-lost {
  font-family: Helvetica;
  text-align: right;
}

.syncopate {
  font-family: Syncopate;
}

table,
th {
  font-weight: normal;
  margin-left: 70pt;
}

/* menu stuff  */

.homeButton {
  color: black;
  background-color: white;
  text-decoration: none;
  font-size: 18px;
  font-family: "Roboto Mono", monospace;
  writing-mode: vertical-lr;
  text-orientation: upright;
  position: fixed;
  top: -2px;
  right: -2px;
  padding: 6px;
  border: 2px solid black;
}

.sp-ascii {
  align-self: center;
}

.border {
  border: 1px solid var(--lines);
  box-shadow: 5px 5px 0 -1px var(--sp-grey), 5px 5px var(--lines);
  background: rgb(209, 209, 209);
}

.homeButton:visited {
  color: black;
}

.homeButton:hover {
  color: hotpink;
  cursor: pointer;
}

.sp-main {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr;
  gap: 12px;
  width: 100%;
}

.vt323 {
  font-family: 'VT323';
}