@import url(../spstyle.css);
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400&display=swap");

@font-face {
  font-family: California Sun;
  src: url("../static/fonts/California\ sun.ttf");
}

h1 {
  font-family: "California Sun";
  font-size: 7rem;
  text-align: center;
  padding: 0;
  margin: 0;
}

.footnote {
  font-size: 2px;
}

html,
body {
  /* background-image: url("../static/images/paper2.jpg"); */
  background-color: rgb(57, 0, 0);
  /* background-blend-mode: darken; */
  /* font-family: sans-serif; */
  margin: 30px;
  margin-top: 0px;
}

.ia-banner {
  /* width: 500px; */
  align-self: center;
  color: #fff;
}

.ia-main {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr;
  gap: 12px;
  width: 100%;
}

.yellowlight {
  background-color: #fff2cc;
}

a,
[data-wiki] {
  color: blue;
}

a:visited,
[data-wiki] {
  color: blue;
}

a:hover,
[data-wiki]:hover {
  color: blue;
}

h2 {
  font-weight: normal;
}

img {
  border: 1px solid black;
  box-shadow: 4px 4px black;
}

li {
  font-family: monospace;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

code {
  font-family: "VT323", monospace;
}

.vt323 {
  font-family: "VT323", monospace;
}

p code {
  font-size: 14pt;
}

.pt10 p {
  font-size: 10pt;
}

.pt10 div p {
  font-size: 10pt;
}

.press-start {
  font-family: "Press Start 2P";
}

.courier {
  font-family: "Courier New", Courier, monospace;
}

.inknut {
  font-family: "Inknut Antiqua", serif;
}

.down-arrow {
  font-family: arial;
  font-size: 25px;
  margin: -20px 0px -50px 0px;
}

.sourcecode {
  font-family: "Source Code Pro", monospace;
  font-size: 12px;
  font-weight: 400;
}

.sourcecodelight {
  font-family: "Source Code Pro", monospace;
  font-size: 12px;
  font-weight: 300;
}

.border {
  box-shadow: 5px 5px 0 -1px rgb(0, 0, 63), 5px 5px rgb(0, 0, 63);
}