@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");

@font-face {
  font-family: Pixtur;
  src: url("../static/fonts/pixtur.otf") format("opentype");
}

body {
  background-color: #ad348b;
  background: conic-gradient(from 90deg at 1px 1px, #0000 90deg, #e2b2e2 0) 0 0/50px
    50px;
  box-sizing: border-box;
  display: grid;
  align-items: center;
  align-content: center;
  margin: 0 4rem;
}

.nb-index-title,
h1 {
  font-size: 5rem;
  font-family: "Pixtur";
}

.lyrics {
  margin: 0 auto;
  /* margin-bottom: 200px; */
  padding: 40px;
  max-width: 600px;
  border: 1px solid black;
  box-shadow: 6px 6px;
  background-color: white;
  font-size: 1rem;
}
.press-start {
  font-family: "Press Start 2P";
}
.press-start p,
.press-start span {
  font-size: 10.6px;
  font-family: inherit;
}
.homeButton {
  text-decoration: none;
  font-size: 18px;
  font-family: "Roboto Mono", monospace;
  writing-mode: vertical-lr;
  text-orientation: upright;
  position: fixed;
  top: -2px;
  left: -2px;
  padding: 6px;
  border: 2px solid black;
}
.homeButton:hover {
  color: hotpink;
  cursor: pointer;
}
.tenpt {
  font-size: 13.3px;
}

.eightpt {
  font-size: 10.6px;
}
.spacer {
  margin: 40px;
}
.smallspacer {
  margin: 20px;
}
.inlinespace {
  padding-left: 45px;
}
.spacedout {
  word-spacing: 40px;
  text-align: center;
}
.spacedout2 {
  word-spacing: 75px;
  text-align: center;
}
.spacedout2 .press-start {
  font-size: 10.6px;
}

.fade {
  animation: fade 10s infinite;
}
@keyframes fade {
  0% {
    color: black;
  }

  80%,
  95% {
    color: white;
  }
  96% {
    color: black;
  }
}
.container {
  display: flex;
  justify-content: center;
}

img,
video {
  display: block;
  margin: 0 auto;
  max-width: 80vw;
  border: 1px solid hotpink;
  box-shadow: 6px 6px;
}

/* audio stuff */
