@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=VT323&display=swap");
@import url(../spstyle.css);

@font-face {
  font-family: Betatron;
  src: url("../static/fonts/Betatron-Regular.otf") format("opentype");
}

body {
  margin: auto;
  align-items: center;
  text-align: center;
  background-color: black;
  color: white;
}
main {
  display: grid;
  justify-content: center;
  align-content: center;
}
section {
  display: grid;
  justify-content: center;
  align-content: center;
  margin: auto 2%;
  grid-template-columns: 1fr 1fr;
  gap: 1%;
}
p {
  font-family: "VT323", monospace;
}
h1 {
  font-family: "Betatron";
  color: black;
  background-color: white;
}
.electric-snow-dream-title {
  font-size: 4rem;
}

.death-in-carthage:hover,
summary:hover {
  box-shadow: 2px 2px hotpink;
}
h2 {
  font-family: "Betatron";
  color: white;
  padding: 10px;
  margin: 0;
}
h2:hover {
  text-shadow: 2px 2px hotpink;
}

/* .alive-in-the h2 {
  animation-name: alive-gradient;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: calc(var(--animation-order) * 400ms);
} */

a {
  color: inherit;
}

a:visited {
  color: inherit;
}

.snow-dream-img {
  width: 100%;
  max-width: 600px;
  margin-top: 200px;
}

summary {
  font-family: "Betatron";
  color: black;
  background-color: white;
  font-size: 1.5em;
  margin-top: 19.92px;
  cursor: pointer;
}

summary:focus {
  outline: none;
}
