@font-face {
  font-family: Migha;
  src: url("../static/fonts/MighaLightsemiexpandedcntr-MVryw.otf")
    format("opentype");
}

:root {
  --htc: #48c6e1;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  5% {
    opacity: 1;
  }

  99% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}
.HTC-index-title,
.HTC-title,
.buttons button {
  animation: fade 10s 1;
  opacity: 0;
}

.HTC-index-title:hover,
.HTC-title:hover,
.buttons button:hover,
.visible {
  opacity: 100%;
}

html {
  background-color: black;
}

body {
  font-family: Migha, sans;
  margin: 40px;
}

main {
  display: grid;
  align-items: center;
  align-content: center;
}

.HTC-title,
.HTC-index-title {
  color: var(--htc);
}
.HTC-title {
  margin-bottom: 80px;
}

video {
  max-width: 80vw;
  min-width: 70vw;
  box-shadow: 5px 6px var(--htc);
  display: block;
  margin: 0 auto;
  border: 1px solid white;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

button {
  font-family: Migha, sans;
  color: var(--htc);
  background-color: black;
  border: 1px solid white;
  box-shadow: 2px 2px white;
  font-size: 20px;
  padding: 6px 6px;
}

button:hover {
  cursor: pointer;
}
