.container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
video {
  max-width: 85vw;
  border: 1px solid hotpink;
  box-shadow: 6px 6px;
}
.controls {
  margin-top: 40px;
  width: 500px;
  height: 50px;
  background: white;
  font-family: monospace;
  border: 1px solid black;
  padding: 15px;
  box-shadow: 4px 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

input {
  outline: none;
  -webkit-appearance: none;
  background: transparent;
  border: none;
  width: 50%;
}
input[title="volume"] {
  width: 23%;
}

button,
span {
  font-size: 30px;
  padding: 2px;
  border: none;
  background: transparent;
  color: #000000;
  outline: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}
button {
  cursor: pointer;
}
span {
  cursor: default;
}

input:focus {
  outline: none;
}

input::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 18px;
  width: 2px;
  background: black;
  cursor: pointer;
  transform: translateY(-10px);
}

input::-moz-range-thumb {
  -webkit-appearance: none;
  height: 18px;
  width: 2px;
  background: black;
  cursor: pointer;
  border: none;
}

input::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  border-top: 1px solid black;
  transform: translateY(2.8px);
}

input::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  border-top: 1px solid black;
  transform: translateY(2.8px);
}
